button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
div.container {
    width: auto;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    word-wrap: break-word;
}